.container
  .container.col-md-4
    = simple_form_for(@car, html: { class: 'form-horizontal'}) do |f|
      =f.collection_select :category_id, Category.all, :id, :name, { promt: "Choose a category" }
      = f.input :name, label: "Car name"
      = f.input :number_auto, label: "Car number"
      = f.input :year, label: "Year of issue"
      = f.input :color, label: "Color"
      = f.input :city, label: "City"
      = f.input :theft_date, label: "Theft date"
      = f.input :telephone, label: "Tel. number"
      = f.input :money, label: "$ Money"
      = f.input :description, label: "Description"
      = f.input :address, label: "Address"
      %br
      = f.button :submit
