%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to 'Find Cars Theft', root_path
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Categories of cars
            %span.caret
          %ul.dropdown-menu
            %li= link_to "All cars", root_path
            - Category.all.each do |category|
              %li= link_to category.name, cars_path(category: category.name)
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "search", :type => "text"}/
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            = link_to current_user.email
        %li
          = link_to "Add car", new_car_path
        %li
          - if user_signed_in?
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
          - else
            = link_to 'Sign in', new_user_session_path
    / /.navbar-collapse
  / /.container-fluid
